{% extends "base/base.html.twig" %}


{% block body %}
    <section class="content-section" data-background="#fffbf7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center justify-content-center">
                        <figure><img src="{{ asset("images/title-shape.png") }}" alt="Image"></figure>
                        <h1>Modification de Gallerie #{{ gallerie.id }}</h1>
                        <h3>
                            <i>Veuillez renseigner tous les champs</i>
                        </h3>


                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ form_start(gallerieForm) }}

                <div class="contact-form">

                    <div class="mb-3">
                        {{ form_row(gallerieForm.prix, {'value' : gallerie.prix}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(gallerieForm.adresse, {'value' : gallerie.adresse}) }}
                    </div>



                    <div class="mb-3">
                        {{ form_row(gallerieForm.description, {'value' : gallerie.description}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(gallerieForm.photo) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(gallerieForm.submit) }}

                    </div>




                </div>

                {{ form_end(gallerieForm) }}

            </div>

                  </div>
    </section>

{% endblock %}
