{% extends "base/base.html.twig" %}


{% block body %}
	<style>
		.option-holder a{
			text-decoration: none;
		}

		.option-holder a:hover{
			box-shadow: inset 100px 0 0 0 #94ffc4;
			color: black;
		}
	</style>
	<section class="content-section" data-background="#fffbf7">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title text-center">
						<figure><img src="{{ asset("images/title-shape.png") }}" alt="Image"></figure>
						<h2 style="font-size: 50px">Our Galleries are most important</h2>
					</div>
				</div>
			</div>

			<div  class="row">
				<div class="col-12">
					<div class="section-title text-center">
						<div style="width:100%;">

							<div class="option-holder" style="float:left;">
								<h4><a href="{{path('app_add_gallerie')}}">Ajouter Gallerie</a></h4>
							</div>

							<div class="option-holder" style="float:right;">
								<h4><a href="collection-detail.html">Mes réservations</a></h4>
							</div>

							<div class="option-holder" style="margin:0 auto;">
								<h4><a href="{{path('app_my_galleries')}}">Mes Galleries</a></h4>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				{% for g in listGalleries %}
					<div class="col-lg-4 col-md-6">
						<div class="collection-box" data-scroll data-scroll-speed="0.5">
							<figure><img src="{{ asset('uploads/galleries/' ~ g.image) }}" alt="Image" style="width: 220px;height: 300px"></figure>
							<h4>
								<a href="{{ path('app_detail_gallerie', {'id': g.id} ) }}">{{g.adresse}}</a>
							</h4>
							<h3>
								{{g.prix}}
								dt/jour
							</h3>

							<h5>
								{{g.description}}
							</h5>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>

	{{ knp_pagination_render(listGalleries) }}
{% endblock %}
