{% extends "base/base.html.twig" %} {% block body %}
<br>
<br>
<br>
<center>
  <input type="search" class="form-control" id="searchE">
</center>

<section
  class="content-section"
  data-background="#fffbf7"
  style="background: rgb(255, 251, 247)"
>
  <select
    name="filtre"
    id="filtre"
    class="form-control"
    style="float: right; margin-top: -100px; width: 30%; padding: 0 20px"
  >
    <option value="">Filtrer par type</option>
    {% for type in typesE %}
    <option value="{{ type.id }}">{{ type.libelle }}</option>
    {% endfor %}
  </select>
  <div class="container">
    <div class="row justify-content-center">
      {% for event in evenements %}
      <div class="col-lg-4 col-md-6 id{{ event.typeEvenement.id }} idt{{ event.id }} item">
        <div
          class="exhibition-box is-inview"
          data-scroll=""
          data-scroll-speed="-1"
          style="
            transform: matrix3d(
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              0,
              -20.75,
              0,
              1
            );
          "
        >
          <figure>
            <a href="#"
              ><img src="/images/event01.jpg" alt="Image" class="img"
            /></a>
            <div class="info">
              <figure class="i">
                <img src="/images/icon-info.png" alt="Image" />
              </figure>
              <span>50% off exhibitions</span>
            </div>
            <!-- end info -->
          </figure>
          <div class="content-box">
            <h4>
              <a href="#">{{ event.titre }}</a>
            </h4>
            <p>
              {{ event.dateDebut | date("d-M") }} –
              {{ event.dateFin| date("d-M-Y") }}
            </p>
            <p>
              Sponsorisé par : {% for sponsor in event.sponsor %}
              {{ sponsor.nomSociete }} /{% endfor %}
            </p>
          </div>

          <!-- end content-box -->
        </div>
        <!-- end exhibition-box -->
      </div>
      {% endfor %}
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<script>
  const filtre = document.querySelector("#filtre");
  filtre.addEventListener("change", (e) => {
    const events = document.querySelectorAll(".item");
   
    $.ajax({
      url: '{{ path("app_evenement_filtre") }}',
      type: "GET",
      data: { id: e.target.value },
      success: function (data) {
          
        events.forEach((event) => {
            if(JSON.parse(data).length == 0){
                event.hidden = true 
            }
          JSON.parse(data).forEach((elem) => {
            if (event.classList.contains(`id${elem.TypeEvenement.id}`)) {
              event.hidden = false;
            } else {
              event.hidden = true;
            }
          });
        });
      },
      error: function (xhr, textStatus, errorThrown) {
        events.forEach((elem) => {
            elem.hidden = false;
          });
      },
    });
  });
</script>

<script>
  const search = document.querySelector('#searchE')
  const events = document.querySelectorAll(".item");

  search.addEventListener('keyup' , (e) => {
    $.ajax({
      url: '{{ path("app_evenement_search") }}',
      type: "GET",
      data: { query: e.target.value },
      success: function (data) {
        events.forEach(e=>{
          e.hidden = true
        })
        JSON.parse(data).forEach((elem) => {
          document.querySelector(`.idt${elem.id}`).hidden = false
        });
        
      },
      error: function () {
        
      },
    });
  })
</script>
{% endblock body %}
