{% extends "base/base.html.twig" %}

{% block body %}
    <section class="content-section" data-background="#fffbf7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center justify-content-center">
                        <figure><img src="{{ asset("images/title-shape.png") }}" alt="Image"></figure>
                        <h2 style="font-size: 50px"><i>Ajout d'un post</i></h2>
                        <figure><img src="{{ asset("images/ajout.png") }}" alt="Image" style="width: 100px;height: 80px"></figure>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                {{ form_start(postForm) }}

                <div class="contact-form">

                    <div class="mb-3">
                        {{ form_row(postForm.titre) }}
                    </div>

                    <div class="mb-3">
                        <br> <br>
                        {{ form_row(postForm.sujet) }}
                    </div>

                    <div class="mb-3">
                        <br> <br>
                        {{ form_row(postForm.description) }}
                    </div>

                    <div class="mb-3"style="float:left;">
                        <br>
                        <br>
                        <input type="file" name="" id="fileId"
                                onchange="imageUploaded()">
                        <br>
                        <br>
                        <br>
                    </div>

                    <div class="mb-3" >
                        {{ form_row(postForm.submit) }}

                    </div>

                </div>

                {{ form_end(postForm) }}

            </div>
        </div>
    </section>



    <script>
        let base64String = "";

        function imageUploaded() {
            var file = document.querySelector(
                'input[type=file]')['files'][0];

            var reader = new FileReader();
            console.log("next");

            reader.onload = function () {
                base64String = reader.result.replace("data:", "")
                    .replace(/^.+,/, "");

                imageBase64Stringsep = base64String;

                // alert(imageBase64Stringsep);
                console.log(base64String);
            }
            reader.readAsDataURL(file);
        }

        function displayString() {
            console.log("Base64String about to be printed");
            document.getElementById("demo").innerHTML = base64String;
        }
    </script>

{% endblock %}